@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
.font-assistant {
  font-family: "Assistant", sans-serif !important;
}

.font-garamond {
  font-family: "EB Garamond", serif !important;
}

* {
  font-family: "EB Garamond", serif;
}
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url("../assets/360_F_254979077_fT8mZRi2Vqpo5hh6A4RAr9sDWWhts17O.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.color-primary {
  color: white;
}
.color-bg-primary {
  background-color: white;
}
.color-bg-secondary {
  background-color: #4d4d4d;
}
.color-bg-secondary-hover:hover {
  background-color: #4d4d4d;
  transition: all 0.4s ease-in-out;
}
.color-secondary {
  color: #4d4d4d;
}

.selecter > button > svg {
  color: #4d4d4d !important;
}

.transition-class {
  transition: all 0.4s ease-in-out !important;
}

.border-rouge {
  border: solid 2px red;
}

/* START - SOCIAL MEDIA COMPONENT */
.container-social-media {
  /* border: solid 2px red; */
  position: fixed;
  top: 50%;
  right: 1%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container-icon-mail {
  /* border: solid 2px red; */
  position: fixed;
  top: 50%;
  left: 1%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* END - SOCIAL MEDIA COMPONENT */

/* GALLERY */
/* * {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: top;
} */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 95%;
  position: relative;
  padding-top: 66.6666666667%;
}
@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 400px;
  }
}
.gallery__img {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(-50%);
}
.gallery__thumb {
  padding-top: 250px;
  margin: 6px;
  display: block;
}
@media only screen and (max-width: 900px) {
  .gallery__thumb {
    padding-top: 140px;
    margin: 6px;
    display: block;
  }
}

@media only screen and (max-width: 810px) {
  .gallery__thumb {
    padding-top: 90px;
    margin: 6px;
    display: block;
  }
}
@media only screen and (max-width: 750px) {
  .gallery__thumb {
    padding-top: 50px;
    margin: 6px;
    display: block;
  }
}
@media only screen and (max-width: 700px) {
  .gallery__thumb {
    padding-top: 10px;
    margin: 6px;
    display: block;
  }
}
.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery__selector:checked + .gallery__img {
  opacity: 1;
}
.gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 3px #0be2f6;
}

/* GALLERY */
